@import "tailwindcss";
@custom-variant hover (&:hover);

@theme {
    --color-primary: #518dff;  
    --color-secondary: #F37335;
    --color-heading: #31323C;
    --color-paragraph: #5A5C5E;
    --color-success: #1AB759;
    --color-danger: #E93C3C;
    --color-focus: #006CC0;
    --color-mate: #F7F7FC;
    --color-placeholder: #91A0BB;
}

@layer base {
    html,
    body {
        @apply text-base font-medium text-paragraph;
    }

    a,
    button {
        @apply cursor-pointer
    }

    a,
    span,
    small,
    label,
    *::after,
    *::before {
        @apply inline-block;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    dt {
        @apply text-heading;
    }

    input,
    textarea {
        @apply 
        bg-transparent 
        placeholder:text-sm placeholder:font-normal placeholder:text-placeholder 
        focus-visible:outline-none;
    }
}

@layer components {
    .apexcharts-canvas:focus-visible { @apply outline-none; }
    .apexcharts-tooltip-marker { @apply -translate-y-2.5 }
}